@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #e0e0e0;
    font-family: 'Lato', sans-serif;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* tittle section */
div.title{
    margin-bottom: 7.5%;
}
#title{
    font-weight: 900;
    font-size: 3vw;
    margin-bottom: 2%;
}
#description{
    letter-spacing: 5px;
    font-size: 1vw;
}

/* official form section */

#survey-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 60vw;
    text-align: center;
    border-radius: 30px;
    border-radius: 41px;
    background: #e0e0e0;
    box-shadow:  26px 26px 51px #bebebe,
             -26px -26px 51px #ffffff;
    padding: 5% 2%;
}

label.details-label{
    align-self: flex-start;
    margin-left: 17%;
    font-weight: 700;
    font-size: 1.265vw;
    margin-bottom: 2%;
}
input.details{

    border: none;
    background: none;
    outline: none;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #fff;

    width: 65%;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 0 0 0 2%;
}

select{
    align-self: flex-start;
    margin-left: 17%;
    border: none;
    background: none;
    outline: none;

    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #fff;
    
    width: 65%;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 0 0 0 2%;
    appearance: none;
    
}

.question{
    align-self: flex-start;
    margin-left: 17%;
    margin-bottom: 2%;
    font-weight: 700;
    font-size: 1.265vw;
}
p span{
    font-weight: 500;
    font-size: 1.15vw;
}


div#response{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: flex-start;
    margin-left: 17%;
    height: 250px;
    width: 65%;
    margin-bottom: 2%;
}

div.response{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

}
.option{
    margin-left: 2%;
    font-weight: 700;
    font-size: 1.265vw;
    color: rgb(83, 83, 83);
}

div.check{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background: #d0cdcd;
    box-shadow: -1px -1px 3px #bebebe,
                inset 2px 2px 6px #e0dbdb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
div.check:hover{
    transform: scale(1.1);
    transition: transform 0.7s;
}


div.check input{
    appearance: none;
    width: 0;
    height: 0;
}

div.check label{
    cursor: pointer;
}

div.check label svg{
    transform: scale(1.5);
    color: #fff;
}
div.check label svg:hover{
    color: black;
}

div.check input:checked~ label svg{
    color: rgb(83, 83, 83);
}

#future{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 65%;
    margin-bottom: 2%;
}
div.display{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.display label{
    font-size: 1.265vw;
    font-weight: 700;
    color: rgb(83, 83, 83);
}


textarea{
    align-self: flex-start;
    margin-left: 17%;
    border: none;
    background: none;
    outline: none;

    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #fff;
    
    width: 65%;
    /* height: 40px; */
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 2% 2%;
}

button{
    border: none;
    background: none;
    margin-bottom: 5%;

    border-radius: 51px;
    background: #d0cdcd;
    box-shadow: inset -5px -5px 10px #bebebe,
                inset 5px 5px 10px #e0dbdb;
    height: 50px;
    width: 40%;
    transition: all 0.75s;
    font-weight: 700;
    font-size: 1.265vw;
}
button:hover{
    background: #d3d0d0;
    transform: scale(1.1);
   
}
.thanks{
    font-weight: 500;
    font-size: 2vw;
}

/* tablet responsive */
@media (max-width: 1000px){

    #title{
        font-size: 4vw;
    }
    #description{
        font-size: 2vw;
    }

    #survey-form{
        width: 80vw;
    }

    label.details-label{
        font-size: 2vw;
    }

    .question{
        font-size: 2vw;
    }
    p span{
        font-size: 1.5vw;
    }
    .option{
        font-size: 2vw;
    }
    div.display label{
        font-size: 2vw;
    }
    button{
        font-size: 2vw;
    }
}

/* mobile responsive */

@media (max-width: 550px){
    #title{
        font-size: 5vw;
    }
    #description{
        font-size: 2vw;
    }

    #survey-form{
        width: 90vw;
    }

    label.details-label{
        font-size: 3.5vw;
    }

    .question{
        font-size: 3.5vw;
    }
    p span{
        font-size: 1.7vw;
    }
    .option{
        font-size: 3.5vw;
    }
    div.display label{
        font-size: 3.5vw;
    }
    button{
        font-size: 3.5vw;
    }
    .thanks{
        font-size: 3.5vw;
    }
}